.cartItem {
    padding-left: 2%;
}

.cartItems{
    display: flex;
    align-items: center;
}
.cartLogo {
    width: 100px;
    height: 100px !important;
}

.paddingRight {
    padding-right: 50px !important;
}

.labelPosition {
    position: absolute;
}

.pricePadding {
    padding-bottom: 2%;
}