/* .app {
  background-color: antiquewhite;
} */

.appSection {
  display : flex;
}

.product-container {
  width : 70%;
  border: 1px solid black;
  display: inline-block;
}

.cartContainer {
  width : 30%;
  padding-top: 2%;
  background-color: aliceblue;
  position: relative;
}

.cartTotal {
  position: absolute;
  bottom: 3%;
  right: 5% !important;
}